
:root {
    --primary-color: #073763;
    --secondary-color: #656565;
    --third-color: #ffffff;
    --fourth-color: #d0d0d0;
    
    --spacing: 10px;
    --half-spacing: 5px;
    --side-spacing: 15px;

    --font: "helvetica", sans-serif;
}
body {
    font-family: var(--font);
    margin: 0;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "menu-card title"
        "menu-card grid-container";
    max-height: 100vh;
}

.grid-container {
    grid-area: grid-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 5fr 1fr;
    grid-template-areas: 
        "Pole-card Image-card"
        "Ping-card Image-card"
        "graph-card graph-card"
        "footer footer";
    background-color: var(--third-color);
    max-width: 1300px;
    width:auto;
    max-height: calc(100vh - 80px);
    justify-self: center;
    margin: 0px 15px 0px 15px;
    @media screen and (max-width: 900px){
        grid-template-columns: auto;
        grid-template-rows: 4fr 5fr 1fr 4fr 1fr;
        grid-template-areas: 
            "Pole-card"
            "Image-card"
            "Ping-card"
            "graph-card"
            "footer";
        justify-content: center;
    }
    overflow-y: scroll;
}

.base {
    background-color: var(--fourth-color);
    color: black;
    border-radius: 6px;
    text-indent: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.07);
}

.Title {
    grid-area: title;
    background-color: var(--primary-color);
    color: #f0f0f0;
    text-align: center;
    text-justify: center;
    font-size: 18px;
    max-height: 80px;
    min-width: 500px;
    @media  screen and (max-width:900px) {
        width: calc(100vw - 100px);
    }
}

.Menu {
    grid-area: menu-card;

    display: grid;
    grid-template-rows: 120px 30px 60px 60px 60px 100px 60px 60px;

    background-color: var(--secondary-color);
    max-width: 100%;
    min-width: 100px;
    height:100vh;
    overflow-x: hidden;
    @media  screen and (max-width:900px) {
        width: 100px;
        max-width: 100px;
    }

}

.Pole-card  {
    grid-area: Pole-card;
    max-width: 630px;
    width: 98%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
    @media  screen and (max-width:900px) {
        width: 98%;
        margin: 5px,0px,5px,0px;
        justify-self: center;
    }
    
}
.Ping-card{
    grid-area: Ping-card;
    max-width: 630px;
    width: 98%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
    @media  screen and (max-width:900px) {
        width: 98%;
        margin: 5px,0px,5px,0px;
        justify-self: center;
    }
}

.Image-card {
    grid-area: Image-card;
    max-width: 630px;
    width: 98%;
    margin-left: var(--half-spacing);
    margin-top: var(--spacing);
    margin-right: var(--half-spacing);
    justify-self: left;

    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "image-gallary image-gallary" "image-button-card image-request-card";
    @media  screen and (max-width:900px) {
        width: 98%;
        margin: 5px,0px,5px,0px;
        justify-self: center;
    }
}

.graph-card {
    grid-area: graph-card;
    max-width: 1274px;
    width: calc(98% + 14px);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    justify-self: center;
    @media  screen and (max-width:900px) {
        width: 98%;
    }
}
.footer {
    grid-area: footer;
    text-align: center;
    max-width: 1274px;
    width: calc(98% + 14px);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    margin-bottom: var(--half-spacing);
    justify-self: center;
    @media  screen and (max-width:900px) {
        width: 98%;
    }
}
.image-gallary {
    grid-area: image-gallary;
    width:100%;
}
.image{
    aspect-ratio: 16/9;
    width: 70%;
    align-self: center;
    justify-self: center;
    
}
.image-button-card{
    grid-area:image-button-card
}
.image-request-card{
    grid-area: image-request-card;
}
.menu-logo{
    width: 90px;
    margin-left: var(--half-spacing);
    @media screen and (max-width:900px) {
        justify-self: center;
        margin-left: 0px;
    }
}
.menu-button{
    display: grid;
    grid-template-columns: 60px auto;

    justify-self: left;
    font-size: 30px;
    min-width: 50px;
    width: 100%;
    height:60px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    box-shadow: 0;
    white-space: nowrap;
    @media  screen and (max-width:900px) {
        display: block;
        color: var(--secondary-color);
    }
}
.menu-button-logo{
    width: 50px;
    align-self: center;
    justify-self: left;
}
.image-button-card {
    grid-area: image-button-card;
    justify-self: center;
    align-items: center;
}

.image-request-card {
    grid-area: image-request-card;
    justify-self: center;
    align-items: center;
}

