
:root {
    --primary-color: #073763;
    --secondary-color: #656565;
    --third-color: #ffffff;
    --fourth-color: #f0f0f0;
    
    --spacing: 10px;
    --half-spacing: 5px;

    --font: "helvetica", sans-serif;
}
body {
    font-family: var(--font);
    margin: 0;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "menu-card title"
        "menu-card grid-container";
    max-height: 100vh;
}

.grid-container {
    grid-area: grid-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr 5fr 1fr;
    grid-template-areas: 
        "Pole-card Image-card"
        "Ping-card Image-card"
        "graph-card graph-card"
        "footer footer";
    background-color: var(--third-color);
    max-width: 1300px;
    min-width: 650px;
    width: calc(100vw - 250px);
    max-height: calc(100vh - 80px);
    justify-self: center;
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    overflow-y: scroll;
}

.base {
    background-color: var(--fourth-color);
    color: black;
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    text-indent: 10px;
}

.Title {
    grid-area: title;
    background-color: var(--primary-color);
    color: #f0f0f0;
    text-align: center;
    text-justify: center;
    font-size: 18px;
    max-height: 80px;
    min-width: 650px;
}

.Menu {
    grid-area: menu-card;
    background-color: var(--secondary-color);
    max-width: 100%;
    min-width: 250px;
    height:100vh;
}

.Pole-card  {
    grid-area: Pole-card;
    min-width: 300px;
    max-width: 630px;
    width: 100%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
    
}
.Ping-card{
    grid-area: Ping-card;
    min-width: 300px;
    max-width: 630px;
    width: 100%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
}

.Image-card {
    grid-area: Image-card;
    min-width: 300px;
    max-width: 630px;
    width: 100%;
    margin-left: var(--half-spacing);
    margin-top: var(--spacing);
    margin-right: var(--half-spacing);
    justify-self: left;
}

.graph-card {
    grid-area: graph-card;
    min-width: 300px;
    max-width: 1274px;
    width: 100%;
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    justify-self: center;
}
.footer {
    grid-area: footer;
    text-align: center;
    min-width: 300px;
    max-width: 1274px;
    width: 100%;
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    margin-bottom: var(--half-spacing);
    justify-self: center;
}
.image-gallary {
    display: block;
    grid-area: image_gallary;
    justify-self: center;
    justify-content: right;
    width:90%;
}
.image{
    width: 90%;
    justify-self: center;
    
}
.image-button-card {
    grid-area: image-button-card;
    justify-self: center;
    align-items: center;
}

.image-request-card {
    grid-area: image-request-card;
    justify-self: center;
    align-items: center;
}

