
:root {
    --primary-color: #073763;
    --secondary-color: #858585;
    --third-color: #ffffff;
    --fourth-color: #d0d0d0;
    
    --spacing: 10px;
    --half-spacing: 5px;
    --side-spacing: 15px;

    --font: "helvetica", sans-serif;
}
body {
    font-family: var(--font);
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "menu-card title"
        "menu-card grid-container";
    max-height: 100vh;
}

.grid-container {
    grid-area: grid-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 2fr 5fr;
    grid-template-areas: 
        "Pole-card Image-card"
        "Ping-card Image-card"
        "graph-card graph-card";
    background-color: var(--third-color);
    max-width: 1300px;
    width:90%;
    max-height: calc(100vh - 80px);
    justify-self: center;
    margin: 0px 15px 10px 15px;
    @media screen and (max-width: 900px){
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "Pole-card"
            "Image-card"
            "Ping-card"
            "graph-card";
        justify-content: center;
    }
    overflow-y: scroll;
}

.base {
    background-color: var(--fourth-color);
    color: black;
    border-radius: 6px;
    text-indent: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.07);
}

.Title {
    grid-area: title;
    background-color: var(--primary-color);
    color: #f0f0f0;
    text-align: center;
    text-justify: center;
    font-size: 18px;
    max-height: 80px;
    min-width: 500px;
    @media  screen and (max-width:900px) {
        width: calc(100vw - 100px);
    }
}

.Menu {
    grid-area: menu-card;

    display: grid;
    grid-template-rows: 120px 30px 60px 60px 60px 100px 60px 60px;

    background-color: var(--secondary-color);
    max-width: 100%;
    min-width: 100px;
    height: 100%;
    overflow-x: hidden;
    @media  screen and (max-width:900px) {
        width: 100px;
        max-width: 100px;
    }
}
.menu-logo{
    width: 90px;
    margin-left: var(--half-spacing);
    @media screen and (max-width:900px) {
        justify-self: center;
        margin-left: 0px;
    }
}
.menu-button{
    display: grid;
    grid-template-columns: 60px auto;

    justify-self: left;
    font-size: 30px;
    min-width: 50px;
    width: 100%;
    height: 60px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    padding-left: 15px;
    white-space: nowrap;
    @media  screen and (max-width:900px) {
        display: block;
        color: var(--secondary-color);
    }
}
.menu-button:hover {
    background: var(--fourth-color);
}
.menu-button-logo{
    width: 50px;
    align-self: center;
    justify-self: left;
}

.Pole-card  {
    grid-area: Pole-card;
    max-width: 630px;
    width: 98%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
    display: block;
    @media  screen and (max-width:900px) {
        width: 98%;
        margin: 5px,0px,5px,0px;
        justify-self: center;
    } 
    overflow-y: scroll;
}
.pole{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #efefef;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    height: 40%;
    align-self: start;
    justify-self: start;
}
.pole-id{
    margin: 5px;
}
.water-level{
    margin-left: 20%;
}
.ttf{
    text-align: center;
    color: red;
    margin-bottom: 5px;
}
.ttf-value{
    text-align: center;
    color: red;
    margin-top: 5px;
}
.warning-state{
    aspect-ratio: 1/1;
    height: 85%;
    border: none;
    outline: none;
    margin: 10px;
    align-self: center;
    justify-self: end;
}
.Ping-card{
    grid-area: Ping-card;
    max-width: 630px;
    width: 98%;
    margin-right: var(--half-spacing);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    justify-self: right;
    @media  screen and (max-width:900px) {
        width: 98%;
        margin: 5px,0px,5px,0px;
        justify-self: center;
    }
}

.Image-card {
    grid-area: Image-card;
    max-width: 98%;
    height: calc(100% - var(--spacing));
    margin: var(--spacing) 0 var(--half-spacing) var(--half-spacing);
    justify-self: left;

    display: grid;
    grid-template-rows: 1fr auto auto;
}

.image {
    display: block;
    width: 90%;
    aspect-ratio: 16/9;
    object-fit: contain;
    justify-self: center;
    margin: var(--spacing) 0 var(--half-spacing) 0;
}
.image-controls {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
}

.image-button-card {
    display: flex;
    gap: 6px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
.image-button{
    padding: 2px 2px;
    width: 20px;
    height: 20px;
    border: none;
    background: #ffffff;
    border:1px solid #c4c2c2;
    border-radius:8px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.image-button:hover {
    background: #dcdada;
}
.image-button:active {
    box-shadow: 0 2px #dadada;  
    transform: translateY(2px);
}

.image-request-button {
    margin-left: auto;
    margin-right: 5px;
    height: 30px;
    white-space: nowrap;
}


.graph-card {
    grid-area: graph-card;
    max-width: 1274px;
    width: calc(98% + 14px);
    margin-top: var(--spacing);
    margin-left: var(--half-spacing);
    margin-right: var(--half-spacing);
    justify-self: center;
    @media  screen and (max-width:900px) {
        width: 98%;
    }
}


